.app {
  //text-size-adjust: none;
  //font-family: helvetica, arial, sans-serif;
  //line-height: 100%;
  //float: left;
  //display: inline-block;
  position: static;
  //display: block;
  background-color: ghostwhite;
  padding: 6px 20px 30px;
  border: 1px solid;
}

.editor {
  //position: relative;
  float: left;
  width: 30%;
  border: 1px solid;
  //display: flex;
  //flex-direction: column;
}

.memberTable {
  //position: relative;
  //float: right;
  //float: left;
  margin-left: 30%;
  //right: 50px;
  //right: 50;
  border: 1px solid;
  //display: flex;
  //flex-direction: column;
}

